<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a>

      </li>
      <li role="presentation"><a routerLink="/diseases" routerLinkActive="active">Diseases</a></li>
      <li role="presentation"><a routerLink="/drugs">Drugs</a></li>
      <li role="presentation"><a routerLink="/doctors">Doctors</a></li>
      <li role="presentation"><a routerLink="/hospitals">Hospitals</a></li>
      <li role="presentation"><a routerLink="/pharmacies">Pharmacies</a></li>
      <li role="presentation"><a routerLink="/appointments">Appointment</a></li>
      <li role="presentation"><a routerLink="/login">Login</a></li>
      <li role="presentation"><a routerLink="/register">Register</a></li>
      <li role="presentation"><a routerLink="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
