<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Choose category <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu" >
    <li role="menuitem"><a class="dropdown-item" (click)="getDiseaseByCategory('inima')" >Inima</a></li>
    <li role="menuitem"><a class="dropdown-item" (click)="getDiseaseByCategory('plamani')">Plamani</a></li>
    <li role="menuitem"><a class="dropdown-item" (click)="getDiseaseByCategory('stomac')">Stomac</a></li>
    <li role="menuitem"><a class="dropdown-item" (click)="getDiseases()">All</a>
    </li>
  </ul>
</div>


